*{
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
}
html{
    scroll-behavior: smooth;
}
.card{
    max-width: 470px;
    background: linear-gradient(135deg, #00feba , #5b548a);
    color: #fff;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
}

.search button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight:500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}
.details img{
    width: 30px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    font-size: 14px;
    margin: 10px 10px 0 0;
    display: none;
}